* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
}

label {
  display: none;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    background-color: #fff;
    width: 100%;
  }

  .hide_y_scroll {
    overflow-y: hidden;
  }

  header a {
    color: #0f27ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .mobile_nav {
    display: none;
  }

  .desktop_nav {
    width: 35%;
  }

  .desktop_nav a {
    margin-right: 10%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #344563;
    text-align: center;
  }

  ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .desktop_nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
  }

  .containt {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/Headerbg@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 60vh;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 15%;
    padding-top: 10%;
  }

  .icon {
    color: #0f27ff;
  }

  li {
    list-style: none;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0a23ff;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .socialMedia {
    font-size: 22px;
    color: #505f79;
    font-weight: 500;
  }

  .card {
    border: 1px solid #dfe1e6;
    padding: 16px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    background-color: #fff;
  }

  .card_reverse {
    border: 1px solid #dfe1e6;
    padding: 16px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a  b";
    grid-auto-flow: row;
    grid-gap: 10px;
    width: 100%;
    background-color: #fff;
  }

  .second_reverse {
    grid-area: a;
  }

  .first_reverse {
    grid-area: b;
  }

  .text_side {
    padding-left: 2%;
    padding-right: 2%;
  }

  .work {
    display: grid;
    row-gap: 88px;
    grid-template-columns: 100%;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
  }

  img {
    width: 100%;
  }

  .card p,
  .card_reverse p {
    color: #344563;
    font-weight: 400;
    font-size: 16px;
  }

  .card h2,
  .card_reverse h2 {
    font-weight: 700;
    color: #172b4d;
    font-size: 40px;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 10%;
    width: 100%;
  }

  .title h5 {
    font-weight: 600;
    color: #344563;
    width: auto;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-style: normal;
  }

  .title_list {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .title_list li {
    font-size: 18px;
    width: auto;
    font-weight: 400;
    color: #4f5869;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
  }

  .title_list li::before {
    content: "\2022";
    font-size: 25px;
    color: #c1c7d0;
    font-weight: bolder;
    display: inline-block;
    width: 15px;
  }

  .tech_list {
    display: flex;
    justify-content: space-between;
    min-width: 70%;
  }

  @media only screen and (max-width: 1040px) {
    .tech_list {
      display: flex;
      justify-content: space-between;
      min-width: 100%;
    }

    .title_list li {
      margin-left: 0;
    }

    .title_list {
      justify-content: space-around;
    }

    .about_section .icons {
      width: 60%;
    }

    .about_section .icons li {
      width: auto;
      margin-right: 10px;
    }
  }

  .tech_list li {
    color: #0f27ff;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 500;
    width: auto;
  }

  .btn_details {
    color: #396df2;
    margin-top: 3%;
    align-self: self-start;
    border: 1px solid #0f27ff;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    font-weight: 500;
    font-size: 17px;
  }

  .btn_details:hover {
    color: #fff;
    background-color: #0f27ff;
  }

  .btn_details:active {
    color: #fff;
    background-color: #2230d2;
  }

  .bottom_section {
    background-color: #fff;
    margin-top: 8%;
    border-top-right-radius: 10%;
  }

  .about_section {
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 40px;
    background-color: #fff;
    border-top-right-radius: 20%;
  }

  .about_section .icons {
    width: 35%;
  }

  .about_section h2 {
    font-weight: 700;
    color: #172b4d;
    font-size: 40px;
  }

  .about_section p {
    color: #344563;
    font-size: 16px;
    font-weight: 400;
  }

  .drop_down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .languages_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
  }

  .languages_title h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .grey_color {
    color: #acb7c3;
  }

  .Languages_items {
    background-color: #f7f7f9;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5%;
    margin-right: 5%;
    color: #253858;
    font-size: 15px;
  }

  .Languages_items p {
    font-weight: 500;
    font-size: 16px;
    color: #253858;
  }

  .rounded_icon {
    border-radius: 50%;
    width: 70%;
    margin-right: 10px;
  }

  .form_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/contactformBackgroundshapes@2x.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #0f27ff;
    border-top-left-radius: 80px;
    color: #ebebff;
    padding-top: 6%;
    padding-bottom: 4%;
  }

  .form_section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    width: 30%;
    text-align: center;
    margin-bottom: 0;
  }

  .form_section p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 30%;
  }

  .bottom_line {
    background-color: #ebebff;
    border: #ebebff;
  }

  .form_submit {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 15px;
    width: 30%;
  }

  .input_element,
  .text_elemnt {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    padding: 15px;
  }

  .submit_btn {
    width: 40%;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 500;
  }

  .input_element {
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #172b4d;
  }

  .text_elemnt {
    height: 150px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #b3bac5;
    border: 1px solid #cfd8dc;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .btn_links {
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-content {
    border-radius: 16px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closeModal:hover,
  .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_head {
    padding: 0;
  }

  .modal_head h2 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  }

  .modal_head h5 {
    font-size: 15px;
  }

  .modal_head ul {
    margin: 0;
  }

  .tech_list_modal {
    min-width: 60%;
    flex-wrap: wrap;
  }

  .tech_list_modal li {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
  }

  .modal_link {
    text-decoration: none;
    color: #6070ff;
  }

  .icon_modal {
    color: #6070ff;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn_modal {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding-left: 10px;
  }

  .modal_head ul li {
    font-size: 15px;
    font-weight: 500;
  }

  .modal-content img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .details {
    display: flex;
    justify-content: space-between;
  }

  .leftSide {
    width: 60%;
  }

  .leftSide p {
    font-weight: 400;
    font-size: 16px;
  }

  .divider {
    border: 1px solid #ebecf0;
  }

  .rightSide {
    width: 35%;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .desktop_nav {
    display: none;
  }

  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 85px;
  }

  .text_side {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    background-color: #fff;
  }

  header a {
    color: #0f27ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .middle_bar {
    position: absolute;
    height: 5px;
    background-color: black;
    width: 40%;
    border: none;
    top: 95vh;
    margin-right: 5%;
  }

  .bottom_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .open {
    color: #0f27ff;
    font-size: 25px;
  }

  .close {
    display: none;
    color: white;
    font-size: 20px;
  }

  .hamburger {
    color: transparent;
    padding: 0;
    width: auto;
    z-index: 100;
    background: transparent;
    cursor: pointer;
    border: none;
    margin-right: 10px;
  }

  .closingIcon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    margin-top: 5%;
  }

  .link_item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: white;
  }

  .menu_list {
    box-sizing: border-box;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(57, 86, 193, 0.863);
    backdrop-filter: blur(5px);
    color: white;
    list-style: none;
    padding-top: 4rem;
    margin-top: 0;
  }

  li {
    list-style: none;
  }

  .menu_list li {
    margin-bottom: 5%;
  }

  .showMenu {
    transform: translateY(0);
  }

  .containt {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/header-shapesmobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100%;
    width: 100%;
    padding-bottom: 50%;
    background-color: #fff;
    padding-top: 20%;
    border-bottom-left-radius: 75px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hide_y_scroll {
    overflow-y: hidden;
  }

  .icon {
    color: #0f27ff;
  }

  .medias {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
  }

  h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0a23ff;
    width: 100%;
  }

  .socialMedia {
    font-size: 22px;
    color: #505f79;
    font-weight: 500;
  }

  .card,
  .card_reverse {
    border: 1px solid #dfe1e6;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
  }

  .work {
    display: grid;
    row-gap: 88px;
    grid-template-columns: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  img {
    width: 100%;
  }

  .card p {
    color: #344563;
    font-weight: 400;
    font-size: 15px;
  }

  .card h2 {
    font-weight: 700;
    color: #172b4d;
    font-size: 32px;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 10%;
    width: 100%;
  }

  .title h5 {
    font-weight: 600;
    color: #344563;
    width: 22%;
    font-size: 13px;
    font-family: "poppins", sans-serif;
    font-style: normal;
  }

  .title_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .title_list li {
    font-size: 13px;
    font-weight: 600;
    color: #4f5869;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40%;
  }

  .title_list li::before {
    content: "\2022";
    font-size: 25px;
    color: #c1c7d0;
    font-weight: bolder;
    display: inline-block;
    width: 15px;
  }

  .tech_list {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  @media only screen and (max-width: 500px) {
    .tech_list li {
      margin: 0;
    }

    .tech_list {
      padding-left: 0;
    }
  }

  .tech_list li {
    color: #0f27ff;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    margin-right: 10px;
    width: auto;
  }

  .btn_details {
    color: #396df2;
    align-self: self-start;
    border: 1px solid #0f27ff;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    font-weight: 500;
    font-size: 17px;
  }

  .btn_details:hover {
    color: #fff;
    background-color: #0f27ff;
  }

  .btn_details:active {
    color: #fff;
    background-color: #2230d2;
  }

  .bottom_section {
    background-color: #fff;
    margin-top: 20%;
  }

  .about_section {
    padding: 16px;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top-right-radius: 75px;
  }

  .about_section h2 {
    font-weight: 700;
    color: #172b4d;
    font-size: 40px;
  }

  .about_section p {
    color: #344563;
    font-size: 16px;
  }

  .drop_down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 18%;
    width: 100%;
  }

  .languages_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
  }

  .languages_title h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .grey_color {
    color: #acb7c3;
  }

  .Languages_items {
    background-color: #f7f7f9;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5%;
    color: #253858;
    font-size: 15px;
  }

  .Languages_items p {
    font-weight: 500;
    font-size: 15px;
  }

  .rounded_icon {
    border-radius: 50%;
    width: 20%;
    margin-right: 10px;
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #dfe1e6;
    margin: 0;
  }

  .form_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/contactformshapes-mobile@2x.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0f27ff;
    padding-top: 20%;
    padding-left: 24px;
    padding-right: 24px;
    border-top-left-radius: 80px;
    color: #ebebff;
  }

  .form_section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .form_section p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  .bottom_line {
    border-radius: 10px;
    margin-top: 10%;
    width: 134px;
    height: 5px;
    background-color: #0d151e;
    border: #0d151e;
    margin-bottom: 2%;
  }

  .form_submit {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 15px;
    width: 100%;
  }

  .input_element,
  .text_elemnt {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    padding: 15px;
  }

  .submit_btn {
    width: 45%;
  }

  .input_element {
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #172b4d;
  }

  .text_elemnt {
    height: 150px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #b3bac5;
    border: 1px solid #cfd8dc;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .btn_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (max-width: 370px) {
    .btn_links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .btn_modal {
      width: 80%;
    }
  }

  .modal-content {
    border-radius: 16px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closeModal:hover,
  .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_head {
    padding: 0;
    width: 80%;
  }

  .modal_head h2 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }

  .modal_head h5 {
    font-weight: 600;
    font-size: 13px;
  }

  .modal_head ul {
    margin: 0;
  }

  .tech_list_modal {
    padding: 0;
    min-width: 60%;
    flex-wrap: wrap;
  }

  .tech_list_modal li {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
  }

  .modal_link {
    text-decoration: none;
    color: #6070ff;
  }

  .icon_modal {
    color: #6070ff;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn_modal {
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-around;
    padding-left: 10px;
    min-width: 40%;
  }

  .modal_head ul li {
    font-weight: 600;
    font-size: 10px;
    color: #7a869a;
    font-style: normal;
  }

  .modal-content img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .leftSide {
    width: 100%;
  }

  .leftSide p {
    font-size: 13px;
  }

  .divider {
    border: 1px solid #ebecf0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .rightSide {
    width: 100%;
  }
}

.btn_modal img {
  width: 15px;
  margin: 0;
  margin-left: 5px;
}
